# 高德地图配置 (AMap Config)
# 请在 https://console.amap.com/dev/key/app 获取你的 Key 和安全密钥

# 高德地图 Web 端 JS API Key
VITE_AMAP_KEY=141fcdabe032ae93334074cfab19228f

# 高德地图 Web 端 JS API 安全密钥 (Security Code)
VITE_AMAP_SECURITY_CODE=f2836844f50057c85bf2fe9e03a9df4d
